*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    height: 100vh;
    width: 100%;
    background-color: azure;
}

.wrapper{
    margin: 120px auto;
    max-width: 600px;
    width: 100%;
    background: gray;
    border-radius: 5px;
    padding: 25px;
}
.wrapper .header{
    font-size: 30px;
    font-weight: 600;
}
.wrapper .inputArea{
    display:flex;
    height: 45px;
    width: 100%;
    margin: 20px 0;
}
.inputArea input{
    width: 85%;
    height: 100%;
    border: 1px solid #ccc;
    font-size: 17px;
    border-radius: 5px;
    padding-left: 15px;
}
.inputArea .btn{
    width: 60px;
    height:100%;
    border: none;
    border-radius: 5px;
    background-color: #ccc;
    font-size: 15px;
    font-weight: bolder;
    cursor: pointer;
    outline: none;
    margin-left: 5px;
}
.wrapper header{
   text-align: center;
   font-weight: bolder;
}
 
.wrapper .todoItems{
max-height: 250px;
overflow-y: auto;
}
.todoItems li{
    list-style: none;
    height: 45px;
    line-height: 45px;
    position: relative;
    background: rgb(124, 122, 122);
    border-radius: 3px;
    margin-bottom: 8px;
    padding: 0 15px;
    cursor: default;
    overflow: hidden;
   

}
.todoItems li span{
    position: absolute;
    right: -45px;
    color:rgb(128, 7, 7);
    width: 45px;
    text-align: center;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    transition: all 0.3s ease;
}
.todoItems li:hover span{
right: 0px;

}
.wrapper .footer{
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
}
.footer button{
    border: none;
    border-radius: 5px;
    background-color: #ccc;
    font-size: 15px;
    font-weight: bolder;
    cursor: pointer;
    outline: none;
    padding: 6px 10px;
}